{% extends 'base_user.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Login</h1>
</div>
    <form method="post" action="" class="form-floating">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Войти</button>
        <a href="{% url 'distribution:distributions' %}" class="btn btn-lg btn-block btn-outline-secondary">Назад</a>
    </form>
{% endblock %}